html {
  margin:    0 auto;
  max-width: 900px;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
    line-height: 135%;
  }
p{
    max-width: 80ch;
}
#the-canvas {
  border: 1px solid black;
  direction: ltr;
  width:max(99%, 750px);
}
.button {
  background-color: #293aab;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
}
ul li{
  padding: 0.5em;
}

/* Table Properties */
table.docutils{
  width: 80%;
}
table.docutils td, table.docutils th {
    border: 1px solid #888;
    padding: 0.25em 0.7em;
}
table.docutils td, table.docutils th {
    padding: 1px 8px 1px 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
}
div.body td {
    text-align: left;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
table.docutils {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-collapse: collapse;
}
/* END Table Properties */

/* Code Example*/

pre{
  color: #e6edf3;
  overflow: auto;
  overflow-y: hidden;
  clear: both;
  font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.9em;
  background: #EEE;
  padding: 7px 30px;
  line-height: 125%;
  background-color: #0d1117;
  margin: 0;
  border-radius: 20px;
}

span.nt{
  color: #7ee787;
  margin: 0;

}
.l, .no{
  color: #a5d6ff;
}

/* END Code Example*/
