html {
  margin:    0 auto;
  max-width: 900px;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
    line-height: 135%;
  }
p{
    max-width: 80ch;
}
#the-canvas {
  border: 1px solid black;
  direction: ltr;
  width:max(99%, 750px);
}
.button {
  background-color: #293aab;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
}
ul li{
  padding: 12px;
}