body {
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
    line-height: 135%;
  }
p{
    max-width: 80ch;
}
#the-canvas {
  border: 1px solid black;
  direction: ltr;
  width:max(99%, 750px);
}